
*{
  margin: 0;
  padding: 0;
 
}
  /* box-sizing: border-box; */

.header-section{
  display: flex;
  justify-content: space-between;
  padding: 10px 4%;
  align-items: center;
  background-color: #FFFFFF;
}

.logo img{
width: auto;
height:30px ;

}
.header-menu ul{
  display: flex;
  gap: 10px;
}
.header-menu ul li{
  list-style: none;
}
.header-menu ul li a{
  text-decoration: none;
  color: #575757;
}
.common-button{
background-color: #1D4ED8;
color: white;
border: 1px solid  #1D4ED8;
padding: 10px 30px;
border-radius: 10px;
font-weight: bold;
font-size: 15px;
cursor: pointer;
}
.common-button:hover{
    transform: translate(5px,2.5px);
}
/* header end */

.nav-menu{
  background-image:
   linear-gradient(to right, hwb(0 0% 95% / 0.782),
   
   
   rgba(218, 208, 208, 0.232)),

   
 url(./images/banner.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.hero{
  color: #FFFFFF;

display: grid;
gap: 20px;


}
.hero h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.hero p{

  font-size: 14px;
  text-align: center;
}

   /* Meet the Speakers section  */

.speakers, .spot-card{
    padding: 80px 5%;
}
.speakers h2{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.speakers-container{
    max-width: 1200px;
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.speakers-img{
    border: 1px solid rgba(91, 91, 91, 0.185);
    border-radius:12px ;
}
/* .speakers-img:hover{
    transform: translate(5px,5px) ;
} */
.speakers-img img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}
.speakers-id{
    padding: 20px;
}
.speakers-id span{
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2563EB;
    font-weight: bold;
}
.speakers-id h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;margin-top: 10px;
    margin-bottom: 10px;

}
.speakers-id p{
font-family: Arial, Helvetica, sans-serif;font-weight: bold;
font-size: 8px;color:#575757a3;
}


   /* Meet the Speakers section  */



/* Secure your spot start */





.spot-card{
padding: 80px 5%;

}
.spot-card-h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 12px;
}
.spot-card-p{
    text-align: center;
    color:#575757 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 30px;
}
.spot-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
}
.spot-container div{
    border: 1px solid #85838334;
    padding: 35px;
    border-radius: 10px;
    height: 350px;

}
.spot-container div:hover{transform: translate(5px,5px);}
.spot-card-menu-mit{
    border: 1px solid #85838334;
    padding: 35px;
    border-radius: 10px;
    background-color: #0D1B2A;

}

.spot-card-menu-mit span{ color:#575757a9 ;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #93C5FD;

}
.spot-card-menu span{ color:#575757a9 ;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.spot-card-menu h2{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.spot-card-menu-mit h2{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.spot-card-menu p{font-size: 15px;
    
     color:#575757a9;
     margin-bottom: 12px;

}
.spot-card-menu-mit p{font-size: 15px;
    font-weight: bold;
     color:#ffffff53;
     margin-bottom: 12px;
     
}
.spot-card-menu hr{
    margin-bottom: 11px;
    border: 1px solid #57575729;
}
.spot-card-menu-mit hr{
    margin-bottom: 11px;
    border: 1px solid #57575729;
}
.spot-card-menu-mit ul{
    margin-bottom: 25px;

}
.spot-card-menu ul{
    margin-bottom: 25px;
}
.spot-card-menu ul li{
    list-style-position: inside;color:#333333;
    font-weight: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.spot-card-menu-mit ul li{
    list-style-position: inside;color:#ffffff9d;
    font-weight: 700px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.common-button-spot{
    padding: 8px;
    width: 100%;
    background-color: white;
    color: #2563EB;
    border: 1px solid #2563EB;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.common-button-spot-mit{
    padding: 8px;
    width: 100%;
    background-color:#2563EB;
    color: white;
    border: 1px solid #2563EB;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
     cursor: pointer;
}
.common-button-spot-end{
    padding: 8px;
    width: 100%;
    background-color:white;
    color: rgba(0, 0, 0, 0.842);
    border: 1px solid rgba(0, 0, 0, 0.842);
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
     cursor: pointer;
}
/* Secure your spot end */


/* table section start */

.table-section{
  padding: 80px 5%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 228, 245, 0.269);
  margin-top: 30px;
  margin-bottom: 30px;
}
.table-section h3{
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

table{
  text-align: center;
  border-collapse: collapse;
  overflow: hidden;

}
th,td{
  border: 1.5px solid ; 
  text-align: center;
  padding: 8px 40px;
}
td{
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
}
th{
  background-color: rgba(95, 158, 160, 0.393);

}

/* Table end */

/* footer */
.footer-manu{
 background-color: #0D1B2A;
}
.footer-manu hr{

}
.footer-container{
    display: flex;
    justify-content: space-between;
   
    padding: 40px 8%;
}
.footer-container div{
    color: white;
}
.link li{
   
    list-style: none;
}
.link li a{
     text-decoration: none;
     color: white;
}
  .copyright{
text-align:center;
    color:#9CA3AF;
   } 
   .footer-manu hr{
        margin-bottom: 11px;
    border: 1px solid #5757575b;
   }

/* footer */

 